<?xml version="1.0" encoding="UTF-8"?>
<sequence-config>
  <viewer-params>
    <xml_url/>
    <image_folder>images/</image_folder>
    <frame_rate>12</frame_rate>
    <background_color>0xffffffc8</background_color>
    <border_color>0x000000</border_color>
    <id>ORBITVU</id>
    <auto_rotate>no</auto_rotate>
    <preload>no</preload>
    <teaser>zoomin</teaser>
    <style>0</style>
    <gui_background>0x000000c8</gui_background>
    <gui_foreground>0xffffffc8</gui_foreground>
    <gui_foreground_active>0x00b5a7c8</gui_foreground_active>
    <lang>en</lang>
    <auto_rotate_dir>right</auto_rotate_dir>
    <rotate_dir>auto</rotate_dir>
    <vmove>no</vmove>
    <ovskin>no</ovskin>
    <border>no</border>
    <html5_initial_info>no</html5_initial_info>
    <vmove_dir>down</vmove_dir>
    <max_scale>1</max_scale>
  </viewer-params>
  <swf-params>
    <width>600</width>
    <height>400</height>
  </swf-params>
</sequence-config>
